@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffe8f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

span {
    font-family: inherit;
    font-weight: 600;
    font-style: italic;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    border: 0;
    background-color: #aa96da;
    border-radius: 10px;
    color: #f7f7f9;
    padding: 15px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f7f7f9;
    color: #aa96da;
    border-radius: 10px;
    border: 2px #aa96da dotted;
}

.btn:focus {
    outline: 0;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.screen.up {
    margin-top: -100vh; /* move the next screen up*/
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.project-list li {
    margin: 10px;
}

.project-link {
    background-color: transparent;
    border: 2px #aa96da solid;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 200px;
}

.project-link:hover {
    background-color: #aa96da;
    color: #f7f7f9;
    border: 2px #f7f7f9 dotted;
    top: -25px;
    left: -35px;
    width: 200px;
    height: 200px;
    display: block;
    z-index: 999;
}

.project-link:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.project-link img {
    width: 130px;
    height: 130px;
    object-fit: contain;
}
